
section.graySection{
    background-color: #EAEAEA;
    border-bottom: 1px solid #DADADA;
    min-height: 120px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

}


.graySection h2{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: sans-serif;
    color: #252525;
    text-align: center;

}
.graySection p{
    text-align: center;
    font-size: 1.6rem;  
    font-family: sans-serif;
    margin:0 auto;

    color: #3F3F3F;
    line-height: 2.4rem;
    max-width: 350px;
}

.graySection.test
{
    height: 360px;
   
}

@media(min-width:10px) {
  
    .homeContent{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1115px;
        justify-content: center;
        background-color: #EAEAEA;
        margin: 0 auto;
    }
    section.graySection{
        background-color: #EAEAEA;
        border-bottom: 0px;
        
        min-width: 372px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .graySection.test p{
        margin-bottom: 26px;
    }
    
/* Mi codigo para la pagina*/
.informacion{
    color:black;
   font-size: 40px; 
   text-align: center;
}

.infoque {
    background-color: #EAEAEA;
    color:black;
    font-size: 30px; 
    text-align: center;
    border-bottom: 5px solid #0d0d0e; /* Agrega un borde inferior sólido de 1 píxel en color gris claro */
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
    padding: 20px;
}

.que_descripcion
{
    color:#000000;
    font-size: 30px; 
    padding: 20px;
    text-align: center;
}

.infocomo{
    background-color: #dbdbdb;
    color:black;
    font-size: 30px; 
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #0d0d0e; /* Agrega un borde inferior sólido de 1 píxel en color gris claro */
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
}

.como_descripcion{
    color:#000000;
    font-size: 30px; 
    padding: 20px;
    text-align: center;
}

.infohorario
{
    background-color: #b6b5b5;
    color:black;
    padding: 20px;
    font-size: 20px; 
    text-align: center;
}

.horario_descripcion
{
    color:#000000;
    font-size: 20px; 
    padding: 40px;
    text-align: center;
}
.infotit {
    font-size: 40px;
    justify-self: center;
  }
.que_img{
    height: 300 px;
    width: 300px;
    margin-top: 40px;
  }
  .como_img{
    margin-top:20px;
    height: 150px;
    width: 230px;
    border-radius:40px;
  }
  .containere {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1050px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person {
    width: 200px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.person img {
    width: 80%;
    border-radius: 50%;
}

.person h4 {
    margin-top: 10px;
    font-size: 30px;
}

.person p {
    margin-top: 5px;
    font-size: 28px;
}

}

@media(min-width:744px) {
  
    .homeContent{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1115px;
        justify-content: center;
        background-color: #EAEAEA;
        margin: 0 auto;
    }
    section.graySection{
        background-color: #EAEAEA;
        border-bottom: 0px;
        
        min-width: 372px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .graySection.test p{
        margin-bottom: 26px;
    }
    
/* Mi codigo para la pagina*/
.informacion{
    color:black;
   font-size: 40px; 
   text-align: center;
}

.infoque {
    background-color: #EAEAEA;
    color:black;
    font-size: 25px; 
    text-align: center;
    border-bottom: 5px solid #0d0d0e; /* Agrega un borde inferior sólido de 1 píxel en color gris claro */
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
}

.que_descripcion
{
    color:#000000;
    font-size: 22px; 
    text-align: center;
}

.infocomo{
    background-color: #dbdbdb;
    color:black;
    font-size: 25px; 
    text-align: center;
    border-bottom: 5px solid #0d0d0e; /* Agrega un borde inferior sólido de 1 píxel en color gris claro */
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
}

.como_descripcion{
    color:#000000;
    font-size: 22px; 
    text-align: center;
}

.infohorario
{
    background-color: #b6b5b5;
    color:black;
    font-size: 25px; 
    text-align: center;
}

.horario_descripcion
{
    color:#000000;
    font-size: 22px; 
    text-align: center;
}
.que_img{
    height: 300 px;
    width: 300px;
  }
  .como_img{
    margin-top:20px;
    height: 280px;
    width: 400px;
    border-radius:40px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person {
    width: 200px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.person img {
    width: 100%;
    border-radius: 50%;
}

.person h3 {
    margin-top: 10px;
    font-size: 18px;
}

.person p {
    margin-top: 5px;
    font-size: 14px;
}

}



@media(min-width:1024px){
   
    .homeContent{
        column-gap: 100px;
        row-gap: 50px;
    }
    
/* Mi codigo para la pagina*/
.informacion{
    color:black;
   font-size: 40px; 
   text-align: center;
}

.infoque {
    background-color: #fff;
    color:black;
    font-size: 25px; 
    text-align:justify;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
}

.que_descripcion
{
    margin-top:30px;
    color: black;
    font-size: 25px; 
    text-align: left;
}

.infocomo{
    background-color: #fff;
    color:black;
    font-size: 25px; 
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
}

.como_descripcion{
    color:black;
    font-size: 22px; 
    text-align: left;
}

.infoequipo
{

    color:black;
    font-size: 25px; 
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; /* Agrega un espacio entre el contenido y el borde */
}
   .infotit {
    font-size: 40px;
    justify-self: center;
  }

  .que_img{
    height: 200px;
    width: 200px;
    
  }
  .como_img{
    margin-top:20px;
    height: 280px;
    width: 400px;
    border-radius:40px;
  }
  .content{
    display: flex;
    justify-content: space-between;
  align-items: flex-start;
  grid-gap: 30px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person {
    width: 200px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.person img {
    width: 100%;
    border-radius: 50%;
}

.person h4 {
    margin-top: 10px;
    font-size: 25px;
}

.person p {
    margin-top: 5px;
    font-size: 20px;
}
 }
  


