
section.graySection{
    background-color: #EAEAEA;
    border-bottom: 1px solid #DADADA;
    min-height: 120px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

}


.graySection h2{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: sans-serif;
    color: #252525;
    text-align: center;

}
.graySection p{
    text-align: center;
    font-size: 1.6rem;  
    font-family: sans-serif;
    margin:0 auto;

    color: #3F3F3F;
    line-height: 2.4rem;
    max-width: 350px;
}

.graySection.test
{
    height: 360px;
   
}

@media(min-width:10px) {

    .homeContent{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1115px;
        justify-content: center;
        background-color: #EAEAEA;
        margin: 0 auto;
    }
    section.graySection{
        background-color: #EAEAEA;
        border-bottom: 0px;
        
        min-width: 372px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .graySection.test p{
        margin-bottom: 26px;
    }
    
/* Mi codigo para la pagina*/
.headlin{
    font-size:15px;
}
.titu{
    font-size:40px;
}

.container{
    display: block;
}
.container1{
  display: flex;
  flex-direction: column;
  clear:both;
  margin:40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  /* Transiciones */
  .container1:hover,
  .container1:focus {
    background-color: #a1e6b2;
    transform: scale(1.02);
    transition: background-color 0.3s, transform 0.3s;
  }
  .primg{
    width: 100px;
    margin-left: 120px;
  }
  .primg1{
    width: 250px;
    margin-left: 45px;
    margin-top:10px;
  }
.primg2{
  width: 200px;
  margin-left: 70px;
  margin-top:10px;
}
p{
    font-size:20px;
    color:rgb(36, 66, 36);
}
.titu {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
h2{
    font-size:28px;
    color: rgb(37, 41, 37)
}


@media (min-width: 768px) {
  main {
    display: flex;
  }

  .container1,
  .container3 {
    order: 1;
    margin-right: auto;
  }

  .container2,
  .container4 {
    order: 2;
    margin-left: auto;
  }
}

}

@media(min-width:744px) {
   
    .homeContent{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1115px;
        justify-content: center;
        background-color: #EAEAEA;
        margin: 0 auto;
    }
    section.graySection{
        background-color: #EAEAEA;
        border-bottom: 0px;
        
        min-width: 372px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .graySection.test p{
        margin-bottom: 26px;
    }
    
/* Mi codigo para la pagina*/
.headlin{
    font-size:15px;
}
.titu{
    font-size:40px;
}

.container{
    display: block;
}
.container1{
  display: flex;
  flex-direction: column;
  clear:both;
  margin:40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  /* Transiciones */
  .container1:hover,
  .container1:focus {
    background-color: #a1e6b2;
    transform: scale(1.02);
    transition: background-color 0.3s, transform 0.3s;
  }
  .primg{
    width: 100px;
    margin-left: 200px;
  }
  .primg1{
    width: 500px;
    margin-left: 30px;
    margin-top:10px;
  }
.primg2{
  width: 200px;
  margin-left: 180px;
  margin-top:10px;
}
p{
    font-size:20px;
    color:rgb(36, 66, 36);
}
.titu {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
h2{
    font-size:28px;
    color: rgb(37, 41, 37)
}


@media (min-width: 768px) {
  main {
    display: flex;
  }

  .container1,
  .container3 {
    order: 1;
    margin-right: auto;
  }

  .container2,
  .container4 {
    order: 2;
    margin-left: auto;
  }
}
}



@media(min-width:1024px){
   
    .homeContent{
        column-gap: 100px;
        row-gap: 50px;
    }
    
/* Mi codigo para la pagina*/
.headlin{
    font-size:15px;
}
.titu{
    font-size:40px;
}

.container{
    display: block;
}
.container1{
  display: flex;
  flex-direction: column;
  clear:both;
  margin:40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  /* Transiciones */
  .container1:hover,
  .container1:focus {
    background-color: #a1e6b2;
    transform: scale(1.02);
    transition: background-color 0.3s, transform 0.3s;
  }
  .primg{
    width: 100px;
    margin-left: 200px;
  }
  .primg1{
    width: 500px;
    margin-left: 30px;
    margin-top:10px;
  }
.primg2{
  width: 200px;
  margin-left: 180px;
  margin-top:10px;
}
p{
    font-size:20px;
    color:rgb(36, 66, 36);
}
.titu {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
h2{
    font-size:28px;
    color: rgb(37, 41, 37)
}


@media (min-width: 768px) {
  main {
    display: flex;
  }

  .container1,
  .container3 {
    order: 1;
    margin-right: auto;
  }

  .container2,
  .container4 {
    order: 2;
    margin-left: auto;
  }
}
 }
  
